# ingnore all files
!.gitignore
/jwebtop_c/JWebTop/Debug/*
/jwebtop_c/JWebTop/Release/*
/jwebtop_c/libcef_dll/Debug/*
/jwebtop_c/libcef_dll/Release/*
jwebtop_c/*.opensdf
jwebtop_c/*.sdf
jwebtop_c/*.suo
jwebtop_c/JWebTop2.0.vcxproj.user