# ingnore all files
!.gitignore
/jwebtop_c/ipch
/jwebtop_c/Debug/*
/jwebtop_c/JWebTop/Debug/*
/jwebtop_c/JWebTop/Release/*
/jwebtop_c/JWebTop/发布版本/*
/jwebtop_c/libcef_dll/Debug/*
/jwebtop_c/libcef_dll/Debug/*
/jwebtop_c/libcef_dll/发布版本/*
/jwebtop_c/JWebTop_JNI/Debug/*
/jwebtop_c/JWebTop_JNI/Release/*
/jwebtop_c/JWebTop_JNI/发布版本/*

~*