<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
<!--
	 <startup uselegacyv2runtimeactivationpolicy="true">
	    <supportedruntime version="v4.0" sku=".netframework,version=v4.0,profile=client"/>
	    <supportedruntime version="v2.0.50727"/>
	  </startup>
	-->
</configuration>
